/*全局基础样式表*/
* {
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: 楷体;*/
}

html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/*滚动条的宽度*/
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  display: block;
  cursor: pointer;
  border-radius: 3px;
  background-color: rgba(144,147,153,.3);
  /*background-color: #DEDFE1;*/
  transition: .3s background-color;
}
