/*全局样式表*/
* {
  font-family: Arial, Helvetica, sans-serif;
  /*font-family: 楷体;*/
}

html,body,#app{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-sizing: border-box;
}

/*滚动条的宽度*/
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/*滚动条的滑块*/
::-webkit-scrollbar-thumb {
  background-color: #DEDFE1;
  border-radius: 3px;
}
