/*
  修改第三方插件样式
*/

/*页面加载进度条*/
#nprogress .bar {
  background: #409EFF !important;
}

/*elementUI样式*/
.crud-content .el-table {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*分页*/
.crud-content .el-pagination {
}

/*dialog弹出框样式*/
.el-dialog {
  border-radius: 5px;
}

/*.crud-search .el-form {
  height: 40px;
}*/
